<section class="thirteen columns">
  <h1>Experiência</h1>
  <article>
      <header>
          <h1>Desenvolvedor Java [Pleno] - Gauge</h1>
          <span><address>São José dos Campos - SP</address><time>2015 to Present</time></span>
      </header>
      <p><em>Tecnologias/Softwares utilizados:</em> Jboss, Spring MVC, Spring Data, Redis, MongoDB, Jenkins, HornetQ, ActiveMQ</p>
      <br>
      <p>Projeto Esight: Projeto de software desenvolvido de forma exclusiva e a pedido da Empresa Embraer,
        onde estou envolvido na criação de dashboards, recebimento e tratamento dos dados de manutenção programada e
        não-programada de aeronaves.</p>
  </article>
  <article>
      <header>
          <h1>Analista de Sistemas [Pleno] - Uol</h1>
          <span><address>São Paulo, SP</address><time>2014 to 2015</time></span>
      </header>
      <p><em>Scrum Master das equipes de pagamentos online e documentos fiscais.</em></p>
      <br>
<p><em>Notanet:</em> Solução de Nota Fiscal Eletrônica (NF-e) integrado às disposições legais do governo e aos requisitos técnicos
da SEFAZ, simulação de notas fiscais eletrônicas e armazenamento (Java,JAXB, etc).</p>
<br>
<p><em>BPAG:</em> Gateway de pagamentos que fornece uma plataforma
completa de meios de pagamentos para o mercado (E-Commerce, análise
anti-fraude, boletos,
pedidos e comunicação com instituições financeiras do Brasil e do
mundo - STS, Maven, Webservices, etc).
Projeto Rotterdam: Evolução do sistema de Gateway de pagamentos BPAG.
Projeto foco da equipe no ano de 2015, onde no mesmo foram utilizadas
conceitos mais modernos do que seu antecessor,
tais como: aplicação e implementação de chamadas REST, enfileiramento e
tratativa de requisições através do RabbitMQ,
gerenciamento e manipulação do projeto através do Atlassian Stash e
sua integração com o Atlassian JIRA, utilização do
jetty e Java 8.</p>
  </article>
  <article>
      <header>
          <h1>Analista de Suporte - Uol</h1>
          <span><address>São José dos Campos/São Paulo - SP</address><time>2011 to 2013</time></span>
      </header>
      <p>Suporte e implantação dos sistemas de pagamentos online e documentos fiscais eletrônicos.
        Implantação de sistemas de ERP e gerenciamento em grandes empresas em parceria com empresas como IFS World.</p>
  </article>
</section>
