<section class="thirteen columns">
    <h1>Cursos/certificações &amp; voluntariados </h1>
    <article>
        <header>
            <h1>Big Data Integration and Processing</h1>
            <span><address>Coursera</address><time>2016</time></span>
        </header>
        <p>
            Link para o <em><a href="https://www.coursera.org/account/accomplishments/verify/5L43VXXARDXC">certificado</a></em>
        </p>
    </article>
    <article>
        <header>
            <h1>Big Data Modeling and Management Systems</h1>
            <span><address>Coursera</address><time>2016</time></span>
        </header>
        <p>
            Link para o <em><a href="https://www.coursera.org/account/accomplishments/verify/2PBZLZK6257Y">certificado</a></em>
        </p>
    </article>
    <article>
        <header>
            <h1>Introduction to Big data</h1>
            <span><address>Coursera</address><time>2016</time></span>
        </header>
        <p>
            Link para o <em><a href="https://www.coursera.org/account/accomplishments/verify/B4DZG67UXUZZ">certificado</a></em>
        </p>
    </article>
    <article>
        <header>
            <h1>International Scrum Master Foundation</h1>
            <span><address>www.scrum.as</address><time>2015</time></span>
        </header>
        <p>
            Certificado de Scrum Master emitido pela scrum.as
        </p>
    </article>
    <article>
        <header>
            <h1>HDE 100 - Apache Hadoop Essentials</h1>
            <span><address>MapR Technologies</address><time>2016</time></span>
        </header>
        <p>
            Link para o <em><a href="http://verify.skilljar.com/c/mzntdakikatc">certificado</a></em>
        </p>
    </article>
    <article>
        <header>
            <h1>Primeiros passos com Java</h1>
            <span><address>Alura Cursos Online</address></span>
        </header>
        <p>
            Link para o <em><a href="https://www.alura.com.br/user/17602/course/java-1/certificate">certificado</a></em>
        </p>
    </article>
    <article>
        <header>
            <h1>JPA 2: Introdução à persistência de dados com JPA e Hibernate</h1>
            <span><address>Alura Cursos Online</address></span>
        </header>
        <p>
            Link para o <em><a href="https://www.alura.com.br/user/17602/course/FJ-35/certificate">certificado</a></em>
        </p>
    </article>
    <article>
        <header>
            <h1>JDBC e banco de dados em Java</h1>
            <span><address>Alura Cursos Online</address></span>
        </header>
        <p>
            Link para o <em><a href="https://www.alura.com.br/user/17602/course/JDBC/certificate">certificado</a></em>
        </p>
    </article>
    <article>
        <header>
            <h1>Java e Orientação a Objetos</h1>
            <span><address>Alura Cursos Online</address></span>
        </header>
        <p>
            Link para o <em><a href="https://www.alura.com.br/user/17602/course/java-2/certificate">certificado</a></em>
        </p>
    </article>
    <article>
        <header>
            <h1>Java e suas Bibliotecas</h1>
            <span><address>Alura Cursos Online</address></span>
        </header>
        <p>
            Link para o <em><a href="https://www.alura.com.br/user/17602/course/java-3/certificate">certificado</a></em>
        </p>
    </article>
    <article>
        <header>
            <h1>Try Ruby</h1>
            <span><address>Code School</address></span>
        </header>
        <p>
            Treinamento basico para iniciantes em Ruby on Rails.
        </p>
    </article>
    <article>
        <header>
            <h1>Rails for Zombies Redux</h1>
            <span><address>Code School</address></span>
        </header>
        <p>
            Treinamento intermediário de Ruby on Rails.
        </p>
    </article>
    <article>
        <header>
            <h1>Blasting off with bootstrap</h1>
            <span><address>Code School</address></span>
        </header>
        <p>
            Treinamento do básico ao avançado em Twitter Bootstrap.
        </p>
    </article>
</section>
