<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    <h5>
  		<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/EngErik/Cards">cards-elixir</a></strong>
  		- Simulador de distribuição de cartas com Elixir!
  	</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/EngErik/identicon-elixir">identicon-elixir</a></strong>
			- Gerador de identicons feito com Elixir!
		</h5>
    <h5>
      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/EngErik/simple-mock-server">simple-mock-server</a></strong>
      - Uma aplicação simples construída com Node.js, para criação de mocks simples.
    </h5>
    </div>
  </div>
</div>
</section>
