<section class="thirteen columns">
  <h1>Programming Skills</h1>
<article>
    <header>
        <h1>Web development</h1>
    </header>
    <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
        &nbsp;&nbsp;<em>Java</em>
    </p><p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
        &nbsp;&nbsp;<em>Javascript</em>, <em>Node.js</em>, <em>Meteor.js</em>, <em>Angularjs</em>
    </p>
    <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
        &nbsp;&nbsp;<em>Databases:</em> <em>Oracle</em>, <em>MsSQLServer</em>, <em>MySql</em>
    </p>
    <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
        &nbsp;&nbsp;<em>NoSql:</em> <em>MongoDB</em>, <em>Redis</em>
    </p>
</article>
</section>
